extends ../../layout

block content
  .container
    .row
      .col-xs-12
        nav.breadcrumb.ph-3.small.uppercase
          a.b.item(href=`/`) INICIO
          a.b.item(href=`/proyectos`) PROYECTOS

  .container
    h1 Listado de Proyectos
    .hr.mb-5.mt-2
    .row
      .col-xs-12
        a.button.primary(href='/nuevo-proyecto') Nuevo
        .project-list

  include ../../fragments/modal.pug
