extends ../../layout

block content
  .container
    .row
      .col-xs-12
        nav.breadcrumb.ph-3.small.uppercase
          a.b.item(href=`/`) INICIO
          a.b.item(href=`/proyectos`) PROYECTOS
          a.b.item(href=`/nuevo-proyecto`) NUEVO

  .container
    h1 Crear nuevo proyecto
    .hr.mb-5.mt-2
    .row.justify-content-center
      .col-xs-12.col-md-6
        .white.br-1.rd-0-2
          .p-3
            .msg.error#form-results
            .row
              form.col-xs-12.validate-rest(id="newEvent" action=config.apiUrl+`/api/projects/` method="post" data-page=`/proyectos` data-error="#form-results")
                .row
                  .col-xs-12
                    .form-group
                      .form-control
                        input#name(type="text" name="name" placeholder=' ' required)
                        label(for='name') Nombre
                  .col-xs-12
                    .form-group
                      .form-control
                        textarea#description(name="description" placeholder=' ' required rows=10)
                        label(for='description') Descripción
                  .col-xs-12
                    .form-group
                      .form-control
                        input#amount(type="number" name="amount" placeholder=' ' required min=0)
                        label(for='amount') Valor estimado a pagar
                .row
                  .col-xs-12.tr
                    button.primary.w-100-xs(type="submit") Agregar proyecto