extends ../layout

block content
  #company.container(data-slug=slug)
    h1.mt-6 Sugerencia recibido
    .hr.mb-5.mt-2
    .row
      .col-xs-12
        .remark.action Tu sugerencia ha sido recibido, en estos momentos se esta procesando